:8080 {
	handle /rpc/* {
		reverse_proxy localhost:4003 {
			flush_interval -1
		}
	}

	handle /health-check {
		reverse_proxy localhost:4003
	}

	handle /logs/* {
		reverse_proxy localhost:4003 {
			flush_interval -1
		}
	}

	handle /cli {
		reverse_proxy localhost:4003 {
			flush_interval -1
		}
	}

	handle /mcp {
		reverse_proxy localhost:{$MCP_PORT} {
			flush_interval -1
		}
	}

	handle {
		root * /workspace/project/app/dist
		try_files {path} /index.html
		file_server
	}
}
